<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alex Todo Manager</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <%- include("header.ejs") %>
    <br />
    
    <!-- Add Todo Form -->
    <div>
      <h2>Add New Todo</h2>
      <form action="/todos" method="POST">
        <input type="text" name="title" placeholder="Enter todo title" required />
        <input type="date" name="dueDate" required />
        <button type="submit">Add Todo</button>
      </form>
    </div>
    <br />
    
    <%- include("todos.ejs") %> 
    <%- include("footer.ejs") %>
  </body>
</html>
