<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo Manager</title>
</head>
<body>
    <%- include('header') %>
    
    <form action="/todos" method="post">
        <input type="text" name="title" placeholder="What's next?" required>
        <input type="date" name="dueDate" required>
        <input type="submit" value="Add">
    </form>

    <%- include('todos') %>

    <%- include('footer') %>
</body>
</html>
